@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Culto
<div>
<form asp-controller="Cultos" asp-action="Criar" method="post">
  <div class="form-group">
    <label for="idInput" hidden>Id</label>
    <input type="number" class="form-control" id="idInput" aria-describedby="emailHelp" placeholder="id" asp-for="ID" hidden>
  </div>
  <div class="form-group">
    <label for="dataInput">Data</label>
    <input type="datetime-local" class="form-control" id="dataInput" aria-describedby="emailHelp" placeholder="Data" asp-for="Data">
  </div>
  <div class="form-group">
    <label for="pastorIDInput">ID do Pastor</label>
    <input type="number" class="form-control" id="pastorIDInput" placeholder="Id do Pastor" asp-for="PastorID">
  </div>
  <div class="form-group">
    <label for="linkInput">Link da Gravação</label>
    <input type="text" class="form-control" id="linkInput" placeholder="link" asp-for="Link">
  </div>
  <button style="margin: 5px" type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
