<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]Reino Espírito Santo</title>
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/1051/1051474.png" type="image/x-icon">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Reino_Espírito_Santo.styles.css" asp-append-version="true" />
</head>
<body>
    <style>
       li:hover{
           background-color: darkgrey;
           border-radius: 35px;
       }
       li{
           margin-top:10px;
       }

    </style>

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3 bg-black">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">

                        <li class="nav-item dropdown">
                            <img class="dropdown-toggle" id="navbarDropdownHome" style="width:50px; height:auto" role="button" data-bs-toggle="dropdown" aria-expanded="false" src="~/img/menu.jpeg" alt="Alternate Text" />
                            <b>
                                <ul class="dropdown-menu bg-black" style="border-radius:5px;" aria-labelledby="navbarDropdownHome">
                                    <li><a class="dropdown-item bg-black" style="color:white;border-bottom:1px solid #215a6d;" asp-area="" asp-controller="Cultos" asp-action="Index">Cultos</a></li>
                                    <li><a class="dropdown-item bg-black" style="color:white;border-bottom:1px solid #215a6d" asp-area="" asp-controller="Ministerios" asp-action="Index">Ministério</a></li>
                                    <li><a class="dropdown-item bg-black" style="color:white;border-bottom:1px solid #215a6d" asp-area="" asp-controller="Dizimos" asp-action="index">Dízimos</a></li>
                                    <li><a class="dropdown-item bg-black" style="color:white;border-bottom:1px solid #215a6d" asp-area="" asp-controller="Auxiliares" asp-action="Index">Auxiliares</a></li>
                            </b>
                            </ul>
                        </li>
                    </ul>


                    <div class="d-flex justify-content-center w-100" style="margin-top:5px;margin-bottom:5px">
                        <b>
                            <a class="navbar-brand" style="background-color:#215a6d; border-radius:5px; padding-left:5px; padding-right:5px; font-size:xx-large;margin:0;" asp-area="" asp-controller="Home" asp-action="Index">Reino Espírito Santo</a>
                        </b>
                    </div>
                </div>
            </div>
        </nav>
    </header>
 
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody() 
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - Reino Espírito Santo - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
